<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tables</key>
	<dict>
		<key>Table1</key>
		<dict>
			<key>colunms</key>
			<dict>
				<key>colunm1</key>
				<dict>
					<key>colid</key>
					<integer>1</integer>
					<key>referencedtable</key>
					<string>Table2</string>
					<key>type</key>
					<string>int</string>
				</dict>
				<key>tablename</key>
				<dict>
					<key>colid</key>
					<integer>1</integer>
					<key>type</key>
					<string>varchar</string>
				</dict>
				<key>updatetime</key>
				<dict>
					<key>colid</key>
					<integer>2</integer>
					<key>type</key>
					<string>datetime</string>
				</dict>
			</dict>
			<key>pk</key>
			<string>tablename</string>
			<key>referencetables</key>
			<array>
				<string>Table2</string>
			</array>
		</dict>
		<key>Table2</key>
		<dict>
			<key>colunms</key>
			<dict>
				<key>colunm1</key>
				<dict>
					<key>colid</key>
					<integer>1</integer>
					<key>referencedtable</key>
					<string>Collectable</string>
					<key>type</key>
					<string>int</string>
				</dict>
				<key>colunm2</key>
				<dict>
					<key>colid</key>
					<integer>9</integer>
					<key>type</key>
					<string>datetime</string>
				</dict>
				<key>colunm3</key>
				<dict>
					<key>colid</key>
					<integer>2</integer>
					<key>referencedtable</key>
					<string>Country_State</string>
					<key>type</key>
					<string>int</string>
				</dict>
				<key>colunm4</key>
				<dict>
					<key>colid</key>
					<integer>5</integer>
					<key>type</key>
					<string>text</string>
				</dict>
				<key>colunm5</key>
				<dict>
					<key>colid</key>
					<integer>7</integer>
					<key>type</key>
					<string>varchar</string>
				</dict>
				<key>colunm6</key>
				<dict>
					<key>colid</key>
					<integer>8</integer>
					<key>type</key>
					<string>bit</string>
				</dict>
				<key>updatedate</key>
				<dict>
					<key>colid</key>
					<integer>10</integer>
					<key>type</key>
					<string>datetime</string>
				</dict>
			</dict>
			<key>pk</key>
			<string>colunm1</string>
			<key>referencetables</key>
			<array/>
		</dict>
	</dict>
	<key>version</key>
	<string>2.0</string>
</dict>
</plist>
